<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notebook</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/app.css">
    <script src="../js/app.js" type="module" defer></script>
</head>
<body>
    <header id="my-notebook-header" class="container">
        <nav id="header-navigation">
            <section id="header-section-left" class="header-section">
                <div id="header-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <div id="header-input-field"></div>
                </div>
            </section>
            <section id="header-section-center" class="header-section">
                <a href="" id="header-tasks">
                    <span>Tasks</span>
                </a>
                <a href="" id="header-notes">
                    <span>Notes</span>
                </a>
            </section>
            <section id="header-section-right" class="header-section">
                <div id="header-login">
                    <i class="fa-solid fa-user">
                    </i>
                    <span>Welcome, Tad!</span>
                    <i class="fa-regular fa-bell"></i>
                </div>
            </section>
        </nav>
    </header>
    <main id="my-notebook-main" class="container">
        <form id="notebook-form" style="display: none;">
            <div  id="form-exit">
                <i class="fa-solid fa-circle-xmark"></i>
            </div>
            <h2 class="form-child">Create new note</h2>
            <section id="form-select-type" class="form-child">
                <label for="type">Type</label>
                <select name="type" id="type">
                    <option value="projects">Projects</option>
                    <option value="business">Business</option>
                    <option value="personal">Personal</option>
                </select>
            </section>
            <section id="form-add-title" class="form-child">
                <label for="note_title">Title</label>
                <input type="text" name="note_title" id="note_title" placeholder="Enter title..">
            </section>
            <section id="form-add-content"  class="form-child">
                <label for="form_content">Content</label>
                <textarea name="form_content" id="form_content" placeholder="Enter note text.."></textarea>
            </section>
            <input type="submit" value="Add note" id="notebook-form-submit" class="btn-hover color-7">
        </form>
        <section id="content-header">
            <section class="types">
                <span class="active">All</span>
                <span class="">Projects</span>
                <span class="">Business</span>
                <span class="">Personal</span>
            </section>
            <section class="actions">
                <div id="add-note">
                    <i class="fa-solid fa-circle-plus"></i>
                    <span>Add</span>
                </div>
                <div id="edit-note">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <span>Edit</span>
                </div>
                <div id="delete-note">
                    <i class="fa-solid fa-trash"></i>
                    <span>Delete</span>
                </div>
            </section>
        </section>
        <section id="content">
            <!-- <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content-item">
                <span>2024-01-01</span>
                <h4><i class="fa-solid fa-right-to-bracket"></i>My note</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div> -->
        </section>
    </main>
    <footer id="my-notebook-footer" class="container box-shadow-off">
        <section id="footer-links">
            <div class="footer-links-anchor">
                <a href="https://www.linkedin.com/in/tadeuš-kuncevič-32576bbb/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/undefinedCudaCore?tab=repositories" target="_blank">
                    <i class="fa-brands fa-github-alt"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCrKDSCwL8Dhd9MLuNfEitOw?view_as=subscriber" target="_blank">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="https://www.facebook.com/tadeush.kuncevich/" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://twitter.com/teklithuania" target="_blank">
                    <i class="fa-brands fa-square-x-twitter"></i>
                </a>
                <a href="https://www.instagram.com/teklithuania/?hl=en" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="tel:+37068777835" target="_blank"><i class="fa fa-mobile" aria-hidden="true"></i>
                </a>
            </div>
        </section>
        <section id="footer-copyright">
            <span>Copyright © 2024 </span>
            <a href="http://thaddeus.lt/">Thaddeus</a>
            <span>, all rights reserved.</span>
        </section>
    </footer>
    <script src="../js/logic/all.js"></script>
</body>
</html>