#notebook-form, #notebook-form-update, #notebook-form-delete{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    border: 0.5px outset #f8f8f8;
    box-shadow: 10px 10px 10px #8b89a1;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%;
    background: linear-gradient(100deg, #a199e9 50%, #F8F8F8 60%);
    z-index: 1;
    align-items: center
}

#notebook-form h2, #notebook-form-update h2, #notebook-form-delete h2{
    font-size: 30px;
    font-weight: 600;
    color: #584ba0;
}

#notebook-form-delete h2{
    margin-top: 10%;
}

#notebook-form-delete #delete-notebook-form-submit{
    margin-bottom: 10%;
}

#notebook-form-delete #id{
    margin-top: 5%;
}

.form-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    margin: 10px 0 10px 10px;
    text-align: center;
}

.form-child label{
    font-size: 18px;
    font-weight: 600;
    color: #584ba0;
    margin-bottom: 15px;
}

.form-child input, option{
    font-size: 18px;
    font-weight: 600;
    color: #584ba0;
    padding: 5px;
    border: 1px solid rgb(5, 5, 5, 0.5);
    border-radius: 5px;
}

textarea {
    font-size: 18px;
    font-weight: 600;
    color: #584ba0;
    resize: none;
    padding: 5px;
    border: 1px solid rgb(5, 5, 5, 0.5);
    border-radius: 5px;
    margin-bottom: 10px;
}

option, select{
    position: relative;
    color: white;
    background-color: #584ba091;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    border-radius: 5px;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #852D91);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

#form-exit, #update-form-exit, #delete-form-exit{
    position: fixed;
    top: 10px;
    right: 10px;
}